<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>ASOT 1000 songs</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="static/favicon.ico">
  <link rel='stylesheet' href="static/style.css">
</head>

<body>
  <div class="centercurrent" style="background-color: hsl({{currentsong.color}}, 63%, 64%);">
    <div>CURRENTLY PLAYING</div>
    <div class="currentsong">
      <div class="number current">#{{currentsong.number}}</div>
      <div class="artist current">{{currentsong.artist}}</div>
      <div class="title current">{{currentsong.title}}</div>
    </div>
    <br>
    <div style="font-size: 130%;">LISTEN LIVE</div>
    <div class="current links">
      <a class="link" href="https://www.youtube.com/watch?v=5lMmnfVylEE">
        <div class="frame">
          <img class="imglink" src="static/yt_logo_mono_dark.png">
        </div>
      </a>
      <a class="link" href="https://www.twitch.com/asot">
        <div class="frame">
          <img class="imglink" src="static/Twitch-Wordmark-White.png">
        </div>
      </a>
    </div>
    <br>
    <div class="centershort">The following times are an aproximation.</div>
  </div>

  <div class="center" id="tablelarge">
    <table class="tablesongs" id="tablesongslarge">
   
    
    </table>
  </div>


  <div class="center centershort hide" id="tableshort">
    <table class="tablesongs" id="tablesongsshort">
    
    </table>
  </div>
</body>

<script src="static/data.json"></script>
<script src="static/scripts.js"></script>
</html>